:root {
    --bg-info: #3e3e3e;
    --bg-accent: #ffffff;
    --text: #000000;
    --text-dark: #ffffff;
    --text-accent: #3c5cdc;
}

.navbar, footer, .navbar a, footer a {
    background-color: var(--bg-info);
    color: var(--text-dark);
    text-decoration: none;
}

#conference-entry-info {

  background-color: var(--brand-color-dark);
    color: white;
    box-shadow: var(--div-shadow);
}

#entry-form {
    box-shadow: var(--div-shadow);
}
