@import url("style.css");

:root {
    --bg-info: #3e3e3e;
    --bg-accent: #ffffff;
    --text: #000000;
    --text-dark: #ffffff;
    --text-accent: #3c5cdc;
}

#signup-info {
    background-color: var(--brand-color-dark);
    color: white;
    box-shadow: var(--div-shadow);
}

#signup-form {
    box-shadow: var(--div-shadow);
}