/* global styles */

:root {
    --brand-color: #1e407c;
    --brand-color-dark: #001E44;
    --brand-color-light: #96BEE6;
}

* {
    font-family: "Times New Roman", Times, serif;
}

.navbar, footer, .navbar a, footer a  {
    background-color: var(--brand-color);
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

.navbar a:hover, footer a:hover {
    transition: color ease-in-out 0.2s;
    color: var(--brand-color-light);
    text-shadow: 2px 2px 2px var(--brand-color-dark);
}